---
layout: default
title: Download and install GitLab
description: "Learn about the various GitLab installation packages and downloads for Ubuntu, Debian, Docker, Google Cloud, and many more."
canonical_path: "/install/"
suppress_header: true
extra_css:
  - installation.css
extra_js:
  - installation.js
  - libs/clipboard.min.js
  - bootstrap-tooltip.js
  - copy-button.js
---
.container.container2020.slp-container.header-content
  .col-md-5
    %h1
      Install self-managed GitLab
  .col-md-7
    %h2
      Try GitLab Ultimate for 30 days!
    %p
      We strongly recommend choosing the official Linux package installation since it is quicker to install, easier to upgrade, and it contains features to enhance reliability not found in other methods. We also strongly
      %a.hide-underline{:href => 'https://docs.gitlab.com/ee/install/requirements.html#memory'} recommend at least 4GB of RAM
      to run GitLab.
    %a.btn.cta-btn.orange-light.margin-left-none{:href => '/free-trial/self-managed/'} Get your free trial

#content
  .cards-section
    .container.slp-container{role: "main"}
      .method.omnibus
        - distros = ['Ubuntu', 'Debian', 'CentOS 8', 'CentOS 7', 'OpenSUSE Leap 15.1', 'Raspberry Pi OS']
        - platforms = ['ubuntu', 'debian', 'centos8', 'centos7', 'opensuse', 'raspberrypi']
        - ce_only_platforms = { 'raspberry-pi-os' => true }
        - subtitles = ['16.04 LTS, 18.04 LTS, 20.04 LTS', '9, 10', 'and RHEL, Oracle, Scientific', 'and RHEL, Oracle, Scientific', 'and SUSE Linux Enterprise Server 12.2, 12.5', 'and Raspbian Buster']
        - icons = ['ubuntu', 'debian', 'centos', 'centos', 'centos', 'opensuse', 'raspberry-pi']
        .method-content
          %h2.block-title{id: "#omnibus"} Official Linux package (recommended installation)
          %p.text-center
            Install via a single package (also known as Omnibus) that bundles all the different services and tools required to run GitLab
          %ul.flex-tile-list
            - distros.each_with_index do |distro, index|
              - ce_platform = data.platforms.select {|p| p.name == platforms[index]}
              - ee_platform = data.platforms_ee.select {|p| p.name == platforms[index]}
              %a.tile.js-distro-tile{ href: "##{distro.parameterize}", class: "distro-tile-#{index + 1} #{'js-distro-tile-ce-only' if ce_only_platforms[distro.parameterize]}" }
                .tile-image
                  = partial "/images/logos/#{icons[index]}-logo.svg"
                .tile-info
                  %h4.tile-title
                    = distro
                  %p
                    = subtitles[index]
              %li.distro-content.js-distro-content.hidden{ class: "distro-content-#{index + 1}", id: distro.parameterize }
                - ce_platform.each_with_index do |platform, index|
                  - ee_platform = ee_platform[index]
                  .js-platform-ce.js-install-instructions
                    = partial "_platform", locals: { platform: platform, type: "ce", toggle_type: "ee", has_ee: ee_platform, link_back: distro.parameterize }
                  - if ee_platform
                    .js-platform-ee.js-install-instructions.hidden
                      = partial "_platform", locals: { platform: ee_platform, type: "ee", toggle_type: "ce", has_ee: ee_platform, link_back: distro.parameterize }

      .method.kubernetes
        .method-content
          %h2.block-title Helm install for Kubernetes
          .flex-tile-list.text-center
            - data.installation_methods.kubernetes.each do |method|
              %a.tile{href: method.url}
                .tile-image
                  = partial method.logo
                .tile-info
                  %h4.tile-title
                    = method.name
                  %p
                    = method.desc

      .method.cloud
        .method-content
          %h2.block-title Supported cloud providers
          %p.text-center
            Use the official Linux package to install GitLab in various cloud providers
          .flex-tile-list
            - data.installation_methods.cloud.each do |method|
              %a.tile{href: method.url}
                .tile-image
                  = partial method.logo
                .tile-info
                  %h4.tile-title
                    = method.name
                  %p
                    = method.desc

      .method.official
        .method-content
          %h2.block-title Other official installation methods
          .flex-tile-list
            - data.installation_methods.official.each do |method|
              %a.tile{href: method.url}
                .tile-image
                  = partial method.logo
                .tile-info
                  %h4.tile-title
                    = method.name
                  %p
                    = method.desc

      .method.community
        .method-content
          %h2.block-title Unofficial, community-contributed installation methods
          .flex-tile-list
            - data.installation_methods.community.each do |method|
              %a.tile{href: method.url}
                .tile-image
                  = partial method.logo
                .tile-info
                  %h4.tile-title
                    = method.name
                  %p
                    = method.desc


.container.container2020.slp-container.cta-block
  %h2
    Already Installed GitLab?
  .method-cta
    %h3.u-margin-bottom Update from an old version of GitLab
    %p 
      Update your GitLab installation to take advantage of the latest features. Versions of GitLab which include new functionality are released every month on the 22nd.
    %p
      %a.btn.cta-btn.lavender{:href => '/update/'} Update to the latest release of GitLab
  .method-cta
    %h3.u-margin-bottom Upgrade from GitLab Community Edition
    %p
      GitLab Enterprise Edition includes advanced features and functionality not available in the Community Edition.
    %p
      %a.btn.cta-btn.lavender{:href => '/upgrade/'} Upgrade to Enterprise Edition
  .method-cta
    %h3.u-margin-bottom Upgrade from manually installed Omnibus package
    %p
      With GitLab 7.10 we have introduced package repositories for GitLab, that allow you to install GitLab with a simple command.
    %p
      %a.btn.cta-btn.lavender{:href => '/upgrade-to-package-repository/'} Upgrade to Omnibus package repository
  .method-cta
    %h3.u-margin-bottom Third-party applications that support GitLab
    %p
      GitLab is open to collaboration and committed to building technology partnerships in the DevOps ecosystem. Learn more about the benefits and requirements of becoming a GitLab Technology Partner.
    %p
      %a.btn.cta-btn.lavender{:href => '/partners/'} View third-party applications
